.form-group .label{
	width:100px;
	float:left;
	text-align:right;
}

.form-group input, .form-group textarea, .form-group select{
	width:250px;
	float:left;
	margin-left:5px;
}

.form-group .radio input{
	width:auto;
}
.form-group .radio .radio-desc{
	float:left;
}
.form-group{
	display:block;
	margin-bottom:20px;
}
.clearfix{
	clear:both;
}
.form-submit{
	margin-left:105px;
}

textarea {
    resize: none;
}